/*  buttons */
@use '../abstracts/mixins';

.button {
    --buttonBgColor: var(--accent-color);
    --buttonBgHoverColor: #ffba27;
    --buttonTextColor: var(--body-text-color);

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em 2em;
    border-radius: 2em;
    background-color: var(--buttonBgColor);
    color: var(--buttonTextColor);
    border-color: transparent;
    font-weight: 600;
    text-decoration: none;

    @include mixins.hover {
        background-color: var(--buttonBgHoverColor);
    }

}

.wa-button {
    --buttonBgColor: #9e021f;
    --buttonBgHoverColor: #660013;
    --mask-image: url(../../images/phone.svg);

}

.tg-button {
    --buttonBgColor: #333;
    --buttonBgHoverColor: #111;
    --mask-image: url(../../images/tg.svg);

}

.wa-button,
.tg-button {
    --buttonTextColor: #fff;
    gap: .5em;

    &::after {
        content: "";
        width: 1em;
        height: 1em;
        background-color: currentColor;
        mask-image: var(--mask-image);
        mask-repeat: no-repeat;
        mask-size: contain;
        mask-position: center;
    }
}