.benefits {

    &__items {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: var(--column-gap);
        margin-bottom: calc(var(--column-gap)* 2);

        li {
            padding: 2rem;
            border-radius: calc(var(--border-radius) / 2);
            align-content: center;

            &:nth-child(even) {
                background-color: var(--accent-color);
            }

            &:nth-child(odd) {
                background-color: #f5f5f5;
            }

            &:nth-child(1),
            &:nth-child(3) {
                background-position: bottom right;
                background-size: contain;
                background-repeat: no-repeat;
                padding-right: 4rem;
            }

            &:nth-child(1) {
                background-image: url(../../images/benefit-img_1.png);
            }

            &:nth-child(3) {
                background-image: url(../../images/benefit-img_2.png);
            }
        }
    }

    &__yuotube {
        margin-bottom: calc(var(--column-gap)* 2);

        &-top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            column-gap: var(--column-gap);
            margin-bottom: var(--column-gap);
        }
        &-button {
            font-size: 14px;
            width: 10em;
        }
        &-video {
            iframe {
                margin-inline: auto;
                display: block;
                border-radius: var(--border-radius);
            }
        }
    }
}