.intro {

    background-color: var(--accent-color);
    background-image:
        linear-gradient(150deg, var(--accent-color) 10%, hsl(41, 100%, 90%) 50%, hsla(41, 100%, 90%, 0.9) 70%, hsla(41, 98%, 45%, 0.1) 100%),
        url('../../images/aluminium-foil.jpg');
    background-size: cover;
    background-position: center;
    padding: 5rem;
    margin-bottom: 2.5rem;
    border-radius: var(--border-radius);
    position: relative;


    >* {
        z-index: 2;
        position: relative;
    }


    &__img {
        position: absolute;
        bottom: 0;
        right: 0;
        height: 105%;
        width: auto;
        max-width: none;
        border-bottom-right-radius: var(--border-radius);
    }

    &__title {
        max-width: 560px;
        margin-block-start: 0;
    }

    &__description {
        font-size: 20px;
        font-weight: 500;
        max-width: 25em;
        margin-bottom: 1.5em;
    }

    &__button-group {
        max-width: 340px;
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;

    }

    &__button {
        width: 100%;

    }
}