@use '../abstracts/mixins';
@use '../abstracts/functions';


.page {
  
  &__wrapper {
    position: relative;
    overflow-x: hidden;
    height: 100dvh;
    display: flex;
    flex-direction: column;
  }

  // &__header {
    
  // }

  &__main {
  
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;

  }

  // &__footer {
 
  // }
  *:focus-visible {
    outline: var(--accent-color) dashed 1px;
    outline-offset: 5px;
    border-radius: 5px;
}
}