@use '../../../scss/abstracts/mixins';
@use '../../../scss/abstracts/functions';



.container {
  max-width: 500px;
  margin-inline: auto;
  padding-inline: 15px;
}

.page {
  &__wrapper {
    position: relative;
    overflow-x: hidden;
    height: 100dvh;
    display: flex;
    flex-direction: column;
  }

  &__header {
    color: red;
  }

  &__main {
    background: rebeccapurple;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;

  }

  &__footer {
    background-color: brown;
    color: whitesmoke;
  }
}